image_createbranchremote.png
image_createissueinmd.png
image_pullrequesteremote2.png
image_solveconflict.png
image_createfork.png
image_detachedhead.png
image_pullrequestremote.png
image_createarepo.png
image_createissue.png
image_modifymsg.png
image_pullrequests.png
.Rproj.user
*.Rproj
